<div class="container">
  <div class="page-header">
    <h1>504 Gateway Timeout</h1>
  </div>
  <p class="lead">The web server is returning an inexpected networking error...</p>
  <p><a class="btn btn-large btn-success" href="#">Come back home</a></p>
</div>
{{ outlet }}