<div class="container">
  <div class="page-header">
    <h1>502 Bad Gateway</h1>
  </div>
  <p class="lead">The server encountered a temporary error and could not complete your request.</p>
  <p><a class="btn btn-large btn-success" href="#">Come back home</a></p>
</div>
{{ outlet }}