<div class="span4">
  <div class="page-header">
    <h1>Participante</h1>
  </div>
  <div>
    <div class="control-group">
      <label class="control-label" for="nombreCompleto">Nombre Completo :</label>
      <div class="controls">
        {{ view App.TextField id="nombreCompleto" target="controller" action="agregar" valueBinding="controller.nombreCompleto" placeholder="Nombre completo" }}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="observaciones">Observaciones :</label>
      <div class="controls">
        {{ view Ember.TextArea valueBinding="observaciones" placeholder="Observaciones" }}
      </div>
    </div>

    <div class="form-actions">
      {{#linkTo "crear.index" class="btn" }} Ocultar {{/linkTo}}
      <button class="btn btn-primary" {{ action "agregar" }}> Agregar </button>
    </div>
  </div>
</div>
<div class="span4" >
  <div class="page-header">
    <h1>Lista de participantes</h1>
  </div>
  {{ view App.ParticipantesListView }}
</div>