/*
 *= require bootstrap/bootsrap_main.css
*/

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.custom {
  display : none;
}
.dropdown.custom {
  display : block;
}
@media(max-width:1000px) {
  .custom {
    display : block;
  }
  .dropdown.custom {
    display : none;
  }
}
